@CHARSET "ISO-8859-1";
body, html {
	margin: 0;
	height: 100%;
	font-size: 14px;
	font-family: sans-serif;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

.form-control {
	display: block;
	width: 100%;
	height: 20px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.form-group {
	margin-bottom: 8px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
	.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
	.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
	.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
	.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	position: relative;
	min-height: 0px;
	padding-right: 45px;
	padding-left: 15px;
}
img {
	display: block;
}
.bg {
	background-color: #f2f2f2;
	width: 100%;
	height: 100%;
}

.email {
	max-width: 600px;
	margin: 0 auto;
	border-radius: 20px 0;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.link {
	text-transform: uppercase;
	background-color: #083063;
	color: #fff;
	text-decoration: none !important;
}
.table{
	border-collapse: collapse;
	padding:0;
	width: 100%;
}
.bg .email .tabelacentro {
	align: center;
	cellpadding: 0;
	cellspacing: 0;
	width: 100%;
	background-color: #FFFFFF;
	align-items: center;
	padding: 0% 5% 0% 5%;
}

h2, label {
	color:#083063;
}
h2 font {
	face: arial;
	size: +2;
	color: #083063;
}

.botao {
	align-items: center;
	text-align: center;
	width: 120px;
	height: 60px;
	background-color: gold;
	cursor: pointer; 
}

.entrar {
	color: #083063;
}
table tr td a div {
	face: arial;
	size: 2;
	color: #ffffff;
}

.td	{
	height:95px;
	background-color:#083063;
	padding-left:7%;
}
.font {
	face:arial;
	size:2;
	color:#ffffff;
}
.td1 {
	width:45px;
	height:171px;
	background-color:gold;
}
.td2 {
	height:171px;
	background-color:gold;
}