.pg-ctrl
{
	font:bold 16px verdana;
	color: #165f90;
	text-decoration: none; 
	cursor: pointer;    
	padding:4px;
	margin:2px;
	border: 0px;
}
.pg-normal 
{
	
	font:12px verdana;
	color: #333;
	text-decoration: none; 
	cursor: pointer;    
	background-color:#f9f9f9;
	padding:3px 6px;
	margin:1px;
	 border-radius: 5px;
}

.pg-selected 
{
	font:12px verdana;
	color: #fff;
	text-decoration: none;    
	cursor: pointer;
	background-color:#165f90;
	padding:3px 6px;
	margin:1px;
	border-radius: 5px;
}