body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:993px;
    height:284px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:993px;
    height:284px;
}

.u1 {
    position:absolute;
    left:2px;
    top:134px;
    width:989px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_container {
    position:absolute;
    left:0px;
    top:290px;
    width:1005px;
    height:249px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1005px;
    height:249px;
}

.u4 {
    position:absolute;
    left:2px;
    top:116px;
    width:1001px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u5_container {
    position:absolute;
    left:780px;
    top:404px;
    width:176px;
    height:24px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:30px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:172px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:796px;
    top:442px;
    width:166px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u8 {
    position:absolute;
    left:780px;
    top:438px;
    width:177px;
    height:24px;
    overflow:hidden;
}

#pd0u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:24px;
    
}

